<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAYnDWDvMz8IQU4lcPrwVn-oukjStiOqho</string>
	<key>GCM_SENDER_ID</key>
	<string>1088375374777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rlemosapp.Off</string>
	<key>PROJECT_ID</key>
	<string>off-app-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>off-app-backend.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088375374777:ios:9738a8e04c64dcb2722c68</string>
</dict>
</plist>